/* @import url("https://fonts.googleapis.com/css2?family=Allura&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

:root {
  --font-color: rgba(0, 10, 38, 1);
  --header-footer-color: rgba(165, 165, 165, 0.2);
  --info-bg-color: rgba(242, 242, 242, 0.95);
  --info-font-color: rgba(0, 10, 38, 1);
  --divider-color: rgba(0, 10, 38, 1);
  --icons-color: rgba(0, 10, 38, 1);
}

body {
  font-family: "Poiret One", cursive;
  margin: 0;
  color: var(--font-color);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 2px solid var(--divider-color);
  background-color: var(--header-footer-color);
  height: 10vh;
}

h1 {
  font-size: 50px;
  margin: 0 0 0 50px;
  align-self: center;
}

.nav {
  list-style-type: none;
  justify-self: end;
  align-self: center;
  display: flex;
}

a {
  text-decoration: none;
  color: var(--font-color);
  font-weight: bold;
}

header .nav button {
  font: inherit;
  border: none;
  color: var(--font-color);
  font-weight: bold;
  font-size: 25px;
  margin-right: 50px;
}

header .nav button:focus {
  border-bottom: 1px solid var(--divider-color);
}

header .nav button:hover {
  transform: scale(1.05);
}

.home-content,
.menu-content,
.contact-content {
  background: url("./background.jpg") no-repeat center center/cover;
  width: 100vw;
  height: 80vh;
  margin: 0;
  padding: 0;
  z-index: -1;
  position: relative;
}

.home-content .restaurant_info,
.contact-content .contact-info {
  background-color: var(--info-bg-color);
  color: var(--info-font-color);
  margin-left: 50px;
  padding: 10px;
  width: 25vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  font-weight: bold;
}

.menu-content .menu-info {
  background-color: var(--info-bg-color);
  color: var(--info-font-color);
  width: 50vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

footer {
  background-color: var(--header-footer-color);
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid var(--divider-color);
}

.fab {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: var(--icons-color);
}

.fab:hover {
  opacity: 0.7;
}

.fab:focus {
  transform: scale(0.95);
}

footer p {
  margin: 0 0 10px 0;
  font-weight: bold;
}
